
@{
    ViewBag.Title = "LogIn";
    
}

<h2>LogIn</h2>

<tr class="form-group">
    @using (Html.BeginForm())
    {
        <table align="center">
            <tr>
                <td align="center">
                    @Html.Label("Email:")
                    @Html.TextBox("email")
                </td>
            </tr>

            <tr>
                <td align="center">
                    @Html.Label("Password:")
                    @Html.TextBox("password") 
                </td>
            </tr>
          
            <tr>
                <td align="center">
                    <input type="submit" value="Submit" class="btn-primary" />
                </td>

            </tr>
            <tr>
                <td>

                    @ViewBag.SucessMessage
                </td>
            </tr>

        </table>

    }

